@import url('https://www.nerdfonts.com/assets/css/webfont.css');

body {
  background-color: #36393f;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

header {
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
}

.button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 10px;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-image: linear-gradient(to right, #4a36fd, #1b7fea);
  padding: 10px 20px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.button:hover {
  transform: scale(1.1);
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.card {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.circle-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  margin-bottom: 20px;
}

.heading-container {
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  margin: 0;
}

h1 {
  color: rgb(41, 214, 245);
  font-size: 1.6875em;
  
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffffff;
  margin-bottom: 10px;
} 

.typing-effect {
  font-size: 26px;
  font-family: Arial, sans-serif;
  white-space: nowrap;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  overflow: hidden;
  max-width: 100%;
}

.typing-cursor {
  display: inline-block;
  width: 3px;
  height: 24px;
  background-color: rgb(41, 214, 245);
  animation: blinkCursor 0.7s infinite;
}


@keyframes blinkCursor {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

p img {
  margin-right: 5px;
}

.languages-icons {
  display: flex;
  gap: 5px;
}

@media (max-width: 768px) {
  .content {
    height: auto;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
  }
  
  .heading-container {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .card {
    flex-direction: column;
    align-items: center;
  }

  .languages-icons {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .circle-image {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
